@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
body * {font-family: "Roboto Condensed", sans-serif;}
.button {
  padding: 5px 0;
  border-radius: 11.5px;
  background: red;
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  min-width: 82px;
}
.button--full {
  display: block;
}
.button_white {
  background-color: white;
  color: black;
}
.button_width {
  width: 100%;
}
.button_shadow {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}

.user-comment {
  align-items: center;
  max-width: 526px;
  padding: 20px 0 20px 0;
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(245, 241, 241);
}
.user-comment__item {
  display: flex;
  flex-direction: column;
  max-width: 464px;
  border-radius: 10px;
  border: 1px solid rgb(199, 195, 195);
  background-color: rgb(241, 240, 240);
  padding: 11px;
  gap: 11px;
}

.user-comment-heading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.user-foto {
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.user-foto img {
  vertical-align: bottom;
}

.user-name {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  min-width: 70px;
  min-height: 14px;
}
.user-status {
  min-width: 49px;
  min-height: 18px;
  border-radius: 12px;
  overflow: hidden;
}
.user-status img {
  vertical-align: bottom;
}
.user-time {
  font-style: italic;
  color: gray;
  font-size: 12px;
  line-height: 14px;
  min-width: 83px;
  min-height: 15px;
}
.user-comment-text {
  padding-left: 11px;
  font-size: 12px;
  line-height: 14px;
}
.user-star {
  position: absolute;
  left: 173px;
  min-width: 110px;
  min-height: 18px;
}

.textareaContainer{
  min-width: 428px;
  height: 100px;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tox.tox-tinymce{
  border-radius: 10px;
  border: none;
}

.form-input {
  background-color: bisque;
  padding: 40px;
}

.form-input__big {
  margin-bottom: 40px;
}

.big-input-label {
  position: relative;
}

#big-input-label__input {
  border-radius: 17px;
  min-width: 206px;
  min-height: 35px;
  border: none;
  padding: 0 27px 0 11px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  outline: 0;
  outline-offset: 0;
}

#big-input-label__input::-webkit-search-cancel-button {
  display: none;
}

#big-input-label__input:focus {
  border: 1px solid #EE171F;
  padding: 0 26px 0 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

#big-input-label__input:hover {
  border: 1px solid #EE171F;
  padding: 0 26px 0 10px;
  cursor: text;
}

.big-input-label__search-sign {
  position: absolute;
  left: 88%;
  top: -58.5%;
  background: #EE171F;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
}

.big-input-label__search-sign img {
  padding-top: 3px;
}

.form-input__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-text-modification {
  min-height: 28px;
  border: none;
  outline: 0;
  outline-offset: 0;
  padding: 0 5px 0 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  caret-color: #0093B4;
}

.input-text-modification:valid {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.input-text-modification:invalid {
  background: #DBDBDB;
}

.input-text-modification:focus {
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.input-all__text-all-round {
  border-radius: 14px;
  width: 100%;
}

.input-right__text-right-round {
  border-radius: 0 14px 14px 0;
  width: 100%;
}

.input-left__text-left-round {
  border-radius: 14px 0 0 14px;
  width: 100%;
}

.header{
  background: #222222;
  width: 100%;
  height: 60px;
  display: flex;position: fixed;
  justify-content: space-between;
  padding: 8px 16px;
  box-sizing: border-box;
  z-index: 30;
}

.header__logo{
  display: flex;
  max-width: inherit;
}

.logo{
  display: flex;
  width: max-content;
}

.header__dropdown{
  display: flex;
  justify-content: center;
}

.dropdown:hover{
  background: grey;
}

.dropdown{
  display: flex;
  justify-content: center;
  position: relative;
}

.dropdown__button{
  display: flex;
}

.dropdown__content{
  display: flex;

}


.nav-menu{
  display: none;
}

@media screen and (min-width: 767px){
 .nav-menu{
   position: relative;
   display: flex;
   flex-direction: row;
   gap: 20px;
 }
  .header__dropdown{
    display: none;
    position: absolute;
    pointer-events: none;
  }
}

.dropdown__content .nav-menu{
  position: absolute;
  display: none;
  top: 30px;
  left: -32px;
  pointer-events: none;

}

.dropdown:hover .dropdown__content .nav-menu{
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.dropdown__button{
  margin: 2px;
}

.nav-menu__item{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222223;
  padding: 10px 15px;
}

.nav-menu__item:hover{
  background: #131313;
}

.nav-menu__item a{
  text-decoration: none;
  color: white;
}

.header__user-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cart{
  position: relative;
}

.cart__content{
  position: absolute;
  top: 5px;
  left: -50px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.35s ease-out;
}

.cart:hover .cart__content{
  display: flex;
  pointer-events: auto;
  background: #ffd8ca;
  visibility: visible;
  transform: translateY(20px);
  opacity: 1;

}

.cart-items{
  display: flex;
  flex-direction: column;

}

.cart-items__item{
  display: flex;
  max-height: 35px
}

@media screen and (max-width: 767px){

  .cart:hover .cart__content{
    display: none;
    position: absolute;
    pointer-events: none;
  }
}


.cart__counter{
  font-size: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: -5px;
  left: 15px;
}

.user-avatar a{
  width: 100%;
  height: 100%;
}

.cart-items__item{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.cart-items__item:hover{
background: #deb8ad;
}

.cart-items__item a{
  text-decoration: none;
  color: black;
}

.form-checkbox {
  box-sizing: border-box;
  width: 150px;
  height: 82px;
  border: 1px solid #000000;
  background-color: #E5E5E5;
  padding-left: 15px;
  padding-top: 5px;
}

.check-mark {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.check-mark + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.check-mark + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #DBDBDB;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-color: #DBDBDB;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.check-mark:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.check-mark:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.labelOZ {
  height: 14px;
  left: 23px;
  top: 4px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.color-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.color-card__gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.color-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer{
  min-height: 347px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__leftPart{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 21px;
}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__image{
  max-width: 233px;
  max-height: 65px;
}
.social{
  display: flex;
  gap: 17px;
}
.social__item{
  cursor: pointer;
}
.copyright {
  font-size: 12px;
  color: #7C7C7C;
}
.footer__rightPart{
  display: flex;
  gap: 57px;
}
.footer-menu{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-menu__item{
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.footer-menu__item_bold{
  font-weight: bold;
}
.shop-card {
  position: relative;
  max-width: 232px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.shop-card__up-block {}

.card-block {
  position: relative;
  display: flex;
  border-radius: 35px;
  overflow: hidden;
}

.card-block__img {
  max-width: 232px;
  max-height: 352px;
}

.card-block__rating {
  position: absolute;
  bottom: -94%;
  left: -80%;
  border-radius: 20px;
  padding: 5% 6%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
  color: black;
}

.rate {
  display: flex;
  align-items: flex-start;
  gap: 3px;
}

.rate__img {
  height: 18px;
  width: 18px;
}

.rate__number {}

.shop-card__down-block {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
  z-index: 1;
}

.card-info__title {
  max-width: 123px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;

  color: black;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__title {
  color: white;
}

.card-info__second-title {
  max-width: 123px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;

  color: #474747;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__second-title {
  color: #B6B6B6;
}

.card-info__price {
  position: absolute;
  right: 5px;
  padding: 5px;
  color: red;
  z-index: 1;

  bottom: 10px;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__price {
  bottom: 45px;
}

.card-info__button {
  position: absolute;
  right: -5px;
  bottom: 10px;
  padding: 5px;
  z-index: 1;

  line-height: 0%;
  max-width: 0px;
  max-height: 0px;
  transition-duration: 0.5s;
}

.shop-card:hover .card-info__button {
  max-width: 82px;
  max-height: 23px;
  line-height: 100%;
}

.shop-card__cover-block {
  position: absolute;
  bottom: 5px;
  left: 0;
  background: linear-gradient(180deg, rgba(77, 77, 77, 0.83) 0%, #000000 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 100%;

  height: 0;
  transition-duration: 0.5s;
}

.shop-card:hover .shop-card__cover-block {
  height: 50%;
}

.card-description {
  padding: 8% 5%;
  line-height: 14.06px;
  font-size: 12px;
  font-weight: 400;
  color: white;
}

.card-description__text {}

.titled-card {
  overflow: hidden;
  position: relative;
  border-radius: 35px;
}

.titled-card__link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.titled-card__image img{
  width: 100%;
}

.titled-card__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  backdrop-filter: blur(25px);
  border-radius: 35px;
  text-align: center;
  color: white;
  padding: 25px 0;
}

.common-table__row {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 18px;
  display: flex;
  justify-content: space-between;
}

.row-order {
  width: 25%;
}
.row-shiping {
  width: 50%;
  padding: 0 10px;
}
.row-data {
  width: 25%;
}

.common-table__list {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 5px;
  padding: 9px 18px;
  border-radius: 22px;
  background: #fff;
  box-shadow: 0 0 5px rgb(0 0 0 / 40%);
  display: flex;
  justify-content: space-between;
}

.common-table__list:hover {
  box-shadow: 0 0 10px rgb(0 0 0 / 60%);
  transition-duration: 0.5s;
}

.list-order {
  width: 25%;
}
.list-shiping {
  width: 50%;
  padding: 0 10px;
}
.list-data {
  width: 25%;
}


.common-form2{
  background-color: white;
  box-sizing: border-box;
  max-width: 344px;
  height: 342px;
  padding: 34px 44px ;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 0 0 20px;
}
.moreCommon-form{
  border-radius: 0 20px 20px 0;
  width: 344px;
  height: 342px;
  background: #C4C4C4;
}
.common-form2__title{
  font-size: 36px;
  font-weight: bold;
}
.signin-dialog{
  display: flex;
  justify-content: center;
}
.common-form2__link{
  color: #0093B4;
}
.common-form2__link_under{
  text-decoration: underline;
}
.common-form2__input{
  height: 28px;
  width: 100%;
  border: none;
  box-sizing: border-box;
  background-color: #DBDBDB;

  border-radius: 14px;
  font-size: 12px;
  padding: 0px 10px ;
}
.common-form2__input_active{
  background-color: white;
  filter: drop-shadow(0px 0px 3px #DBDBDB);
}
.names-input{
  width: 100%;
  display: flex;
  justify-content: stretch;
}
.names-input_left{
  border-radius: 14px 0px 0px 14px;
}
.names-input_right{
  border-radius: 0px 14px 14px 0px ;
}
.common-form2__spacer{
  width: 4px;
}
.common-form2__button{
  background-color: #EE171F;
  color: white;
}
.final-dialog{
  display: flex;
  align-items: center;
}
.final-dialog__checkbox{
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background-color: #DBDBDB;
  border: none;
}
.common-card {}
.common-card__content {
  padding: 24px;
  border-radius: 35px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.userControls {
  padding: 0 6px;
  display: flex;
  align-items: center;
  position: relative;
}
.position-button-signin{margin-right: -20px;}
.position-button-signup{margin-left: -20px;}
.userControls img {
  width: 44px;
  vertical-align: middle;
  z-index:1;
}


h1{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
h2{
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}
h3{
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}
.text-white{
  color: white;
}
.text-bold{
  font-weight: bold;
}
.eventCard{
  position: relative;
}
.eventCard__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6%;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  z-index: 2;
}
.eventCard__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.signupForm{
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index:20;
  background: rgba(0, 0, 0, 0.6);
}
.signinForm{
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index:20;
  background: rgba(0, 0, 0, 0.6);
}
.signin_mod{
  height: 262px;
  width: 344px;
}
.input-all{
  display: flex;
  width: 100%;
}
.input-left{
  display: flex;
  justify-content: flex-start;
  flex-basis: 48%;
}
.input-right{
  display: flex;
  justify-content: flex-end;
  flex-basis: 52%;
}


.buttonNew {
  padding: 5px 0;
  border-radius: 11.5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #EE171F;
  min-width: 82px;
}

.buttonNew--full {
  width: 100%;
}
.buttonNew_shadow {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
}
.buttonNew_white {
  color: black;
  background-color: #FFFFFF;
}


.ak-form-inputs{
  display: flex;
  padding: 18px;
  background-color: #E5E5E5;
}
.ak-input-variants {
  display: flex;
  flex-direction: column;
}
.ak-form-input {
  background-color: #00A3FF;
  display: flex;
  flex-direction: column;
  padding: 18px 30px;
  gap: 10px;
}
.ak-input-base {
  display: flex;
  width: 100%;
}

.ak-base-input {
  border-radius: 14px;
}
.ak-righr-input {
  border-radius: 0 14px 14px 0;
}
.ak-left-input {
  border-radius: 14px 0 0 14px;
}
.ak-input-text {
  display: block;
  padding: 0 10px 0 10px;
  width: 146px;
  height: 28px;
  border: none;
  outline: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}
.ak-input-text:invalid {
  background-color: #DBDBDB;
  color: #868686;
}
.ak-big-input {
  border-radius: 17px;
  min-width: 135px;
  min-height: 35px;
  border: none;
  padding: 0 10px 0 10px;
  outline: 0;
}

